html, body {
    max-width: 100%;
    overflow-x: hidden;
    cursor: default;
    direction: rtl;
    /*font-family:verdana;*/
    font-family: 'Amstelvar Alpha', serif;
}

.text-en {
    direction: ltr;
}

.text-align-right{
    text-align: right;
}


.text-align-left{
    text-align: left;
}

.dot-for-too-long-text{
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.file_item {
	background-color: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
    margin-right: 14px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 210px;
	-webkit-transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.3,1);
	transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.3,1);
}

.file_first_page {
	height: auto;
	width: 100%;
	z-index: 1;
}

.file_details_block {
	z-index: 2;
	height: 80px;
	border-top: 1px solid #dadce0;
	background: #fafafa;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 13px 16px;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
    text-align: left;
}

.file_item:hover .file_details_block{
	background: #e8f9fc;
}

.file_format_icon {
	width: 18px;
}

.file_title {
	display:inline;
	font-size: 16px;
	margin-left: 30px;
}

.file_info_detail {
	font-size: 14px;
}

.file-actions {
	position: fixed;
	bottom: 70px;
    width: 40%;
}

.file-check-status{
    height: 40px;
    width: 107%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #1b1e21;
    display: flex;
    padding-top: 15px;
    opacity: 0.9;
    font-size: 14px;
    box-shadow: 0 0.15rem 0.35rem rgba(132, 138, 163, 0.5);
}

.file-status-in-preview{
    height: 25px;
    width: 488px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0.15rem 0.35rem rgba(132, 138, 163, 0.4);
}

.approved{
    background: #75c46b;
}
.approved:hover{
    background: #78ba70;
}

.uncheck{
     background: #feca54;
}
.uncheck:hover{
    background: #f5c147;
}

.unapproved{
    background: #f56042;
}

.unapproved:hover{
    background: #de573c;
}

.finish-button{
    height: 60px;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #1b1e21;
    display: flex;
    padding-top: 15px;
    font-size: 18px;
    background: #54a0ff;
    box-shadow: 0 0.15rem 0.35rem rgba(132, 138, 163, 0.5);
}

.finish-button:hover{
    background: #4a94f0;
}

.dir-name{
    color: white;
    padding-top: 15px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.add_command {
	height: 70px;
	width: 100%;
	background: white;
	border-radius: 4px;
    border-color: white;
	outline: none;
    direction: rtl;
    text-align: right;
    box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1)
}

.unapproved-files{
	background: white;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.one-unapproved-file{
    background: white;
    border-radius: 12px;
    box-shadow: 0 0.15rem 0.35rem rgba(132, 138, 163, 0.4);
    padding: 5px;
    margin-bottom: 5px;
}

.one-unapproved-file:hover{
    background: #e8f9fc;

}

.sort-options{
    width: 100%;
}

.modal-action-button{
    border-radius: 4px;
    height: 70px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unapproved-this-file-button{
    background: #f56042;
}

.unapproved-this-file-button:hover{
    background: #de573c;
}

.unapproved-this-file-button-after-click{
    background: #f56042;
    opacity: 0.5;
}

.approved-this-file-button{
     background: #75c46b;
}

.approved-this-file-button:hover{
    background: #78ba70;
}

.approved-this-file-button-after-click{
    background: #75c46b;
    opacity: 0.5;
}

.status-indicator-bar-item{
    height: 100%;
    display: inline-flex;
}

.indicator-approved{
    background-color: #75c46b;
    width: 29%;
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
}

.indicator-unchecked{
    background-color: #feca54;
    width: 20%;
    border-radius: 5px 0px 0px 5px;
}

.indicator-unapproved{
    background-color: #f56042;
    width: 50%;
    margin-left: -4px;
}

.shadow-sm,
.shadow-sm--on-hover:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important
}

.gradient-light--lean-left {
    background-image: -webkit-linear-gradient(110deg, #f2f3fa 0%, #fcfdff 100%);
    background-image: -ms-linear-gradient(110deg, #f2f3fa 0%, #fcfdff 100%)
}

.color--heading {
    color: #101f41 !important
}

.color--text {
    color: #4f5464 !important
}

.file-type-for-files-list{
    width: 25px;
}

.text-white {
    color: #fff!important;
}


.background--white,
.bg-white {
    background-color: #fff !important
}

.background--brand,
.background--primary,
.bg-brand,
.bg-primary {
    background-color: #4d5bed !important;
    color: #fff
}

.background--dark,
.bg-dark {
    background: #0c2050 !important;
    color: #939eb8
}

.background--secondary,
.bg-secondary {
    background-color: #939eb8 !important
}

.background--tertiary,
.bg-tertiary {
    background-color: #9779e3 !important
}

.background--danger,
.bg-danger {
    background-color: #f53d55 !important
}

.background--success,
.bg-success {
    background-color: #66df7c !important
}

.background--warning,
.bg-warning {
    background-color: #f6c460 !important
}

.background--warning2,
.bg-warning2 {
    background-color: #f89c59 !important
}

.background--info,
.bg-info {
    background-color: #52bbd3 !important
}

.background--light,
.bg-light {
    background-color: #f6f8fb !important
}

a {
    text-decoration: none !important;
}

.card:hover {
	background: #e8f9fc;
}

.no-file-here-icon {
	padding-top: 100px;
	text-align: center;
}

.card-body{
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

/* The heart of the matter */
.large-view-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    cursor: ew-resize;
}

.large-view-group {
    width: 100%;
}


/* Start Gallery CSS */
.thumb {
    margin-bottom: 15px;
}
.thumb:last-child {
    margin-bottom: 0;
}

.img-thumbnail{
    padding: 0 !important;
    border: 2px solid #dee2e6 !important;
    border-radius: 0.15rem !important;
}


.modal-backdrop.show {
    opacity: 0.8 !important;
}
