p{
	font-family:verdana
}
.file_item {
	background-color: #fff;
	border: 1px solid #dadce0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 7px;
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 260px;
	-webkit-transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
	transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}



.file_first_page {
	height: auto;
	width: 100%;
	z-index: 1;
	position: absolute;
}

.file_details_block {
	z-index: 2;
	height: 80px;
	border-top: 1px solid #dadce0;
	background: #fafafa;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 13px 16px;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}

.file_item:hover .file_details_block{
	background: #e8f9fc;
}

.file_pormat_icon {
	width: 18px;
}

.file_titel {
	display:inline;
	font-size: 18px;
	margin-left: 10px;
}

.file_info_detail {
	font-size: 14px;
}