<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <iframe src="${createLink(action:'downloadPdf', controller:'API', params: [f: file.getPath()])}" width="100%" height="500px"></iframe>
</body>
</html>